body {
    margin: 0;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

img {
    width: 100px;
}

h1 {
    font-weight: 500;
    font-size: 2.4em;
}

p {
    font-size: 1.3em;
}

.container {
    text-align: center;
}


@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.1em;
    }
  }
